pipeline/Log_PipelineErrors.json
{
	"name": "Log_PipelineErrors",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Log_File_Name",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'),'_Log.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CheckIfFileExists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceForUnion",
						"type": "DatasetReference",
						"parameters": {
							"sou_File_name": {
								"value": "@variables('Log_File_Name')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckIfFileExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckIfFileExists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Log_PipelineErrors",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Log_PipelineErrors",
									"type": "DataFlowReference",
									"parameters": {
										"ADF_Name": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipeLineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{string('Done')}'",
											"type": "Expression"
										},
										"RunId": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"Log_File_Name": {
											"value": "'@{variables('Log_File_Name')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"DesLogFile": {
											"des_file_name": {
												"value": "@variables('Log_File_Name')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Log_PipelineErrors_Append",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Log_PipelineErrors_Append",
									"type": "DataFlowReference",
									"parameters": {
										"ADF_Name": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipeLineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{string('Done')}'",
											"type": "Expression"
										},
										"RunId": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"Log_File_Name": {
											"value": "'@{variables('Log_File_Name')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"ExistingFile": {
											"sou_File_name": {
												"value": "@variables('Log_File_Name')",
												"type": "Expression"
											}
										},
										"DesLogFile": {
											"des_file_name": {
												"value": "@variables('Log_File_Name')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Log_File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}