pipeline/Log_PipelineErrors.json
{
	"name": "Log_PipelineErrors",
	"properties": {
		"activities": [
			{
				"name": "Log_PipelineErrors",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Log_PipelineErrors",
						"type": "DataFlowReference",
						"parameters": {
							"ADF_Name": {
								"value": "'@{pipeline().DataFactory}'",
								"type": "Expression"
							},
							"PipeLineName": {
								"value": "'@{pipeline().Pipeline}'",
								"type": "Expression"
							},
							"Status": {
								"value": "'@{string('Succes')}'",
								"type": "Expression"
							},
							"RunId": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"TriggerName": {
								"value": "'@{pipeline().TriggerName}'",
								"type": "Expression"
							},
							"Log_File_Name": {
								"value": "'@{variables('Log_File_Name')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Log_File_Name",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'),'_Log.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Log_File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}